<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>390087219274-qvnh11ssfp5drlsf0d89jv1lfvir6vqs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.390087219274-qvnh11ssfp5drlsf0d89jv1lfvir6vqs</string>
	<key>API_KEY</key>
	<string>AIzaSyBN8ir3mNrrZuM2HH2CkgLioQ_-EXTxqT0</string>
	<key>GCM_SENDER_ID</key>
	<string>390087219274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bluesystems.gabriel</string>
	<key>PROJECT_ID</key>
	<string>blue-5599e</string>
	<key>STORAGE_BUCKET</key>
	<string>blue-5599e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390087219274:ios:43c155a36a3a285bd9aeb3</string>
	<key>DATABASE_URL</key>
	<string>https://blue-5599e.firebaseio.com</string>
</dict>
</plist>